version: 2.1
jobs:
  compile:
   docker:
      - image: fadlyas/kernel_dockerfile:latest
   steps:
      - run:
          command: |
           apt update && apt install -y default-jre nano flex
           git config --global user.name "Popo21xyz"
           git config --global user.email "popo21xyz@gmail.com"
           git clone https://github.com/Popo21xyz/kernel_xiaomi_tissot -b Eleven ~/kernel
           cd dir_clone
           bash build.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
